name: Test CI
on:
  push:

  pull_request:
    branches:
      - master
      - main
      - next
      - next-major
      - alpha
      - beta

  schedule:
    - cron: 0 2 * * 0

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [ 24 ]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: npm ci
      - run: npm test
      - run: npm run package
